.administrative__item {
    table {
        width: 100%;
        background-color: #fff;
        border-spacing: 0;
        th, td {
            border: 1px solid #2A83FF;
        }

        thead {
            tr {
                background-color: #2A83FF;
                color: white;
            }
        }

        tr {
            &:first-child {
                border: none;
                th {
                    white-space: nowrap;
                    width: auto;
                    padding: 0 .5rem;
                }
            }
            &:last-child {
            }
            td {
                padding: .5rem;
                &:nth-of-type(1) {
                    text-align: center;
                }
            }
        }
    }

    input, select {
        padding: .5rem;
        margin: .5rem 0;
        width: 100%;
    }

    width: 64rem;

    #sv_to_dssv {
        width: 10rem;
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .administrative__item {

        width: initial;

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { border: 1px solid #ccc; }
        
        td { 
            /* Behave  like a "row" */
            padding: 0;
            border: none;
            border-bottom: 1px solid #eee; 
            position: relative;
            padding-left: 50% !important; 
        }
        
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            left: .5rem;
            width: 45%; 
            padding-right: .5rem; 
            white-space: nowrap;
            font-weight: bold;
        }

        td:nth-of-type(1) {
            background-color: #2A83FF;
            color: white;
        }
        
        /*
        Label the data
        */
        .dslop_table {
            td:nth-of-type(1):before { content: "Mã lớp"; }
            td:nth-of-type(2):before { content: "Tên lớp"; }
            td:nth-of-type(3):before { content: "Số lượng sinh viên"; }
            td:nth-of-type(4):before { content: "Hành động"; }
        }
        .dssv_table {
            td:nth-of-type(1):before { content: "Mã sinh viên"; }
            td:nth-of-type(2):before { content: "Tên sinh viên"; }
            td:nth-of-type(3):before { content: "Hành động"; }
        }

        select, input {
            width: 100%;
        }
    }
}