@use '../../abstract';

.analytics {
    &__search {
        input {
            padding: .5rem;
        }
    }
    &__container {
        display: grid;
        width: inherit;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 6rem;
        grid-row-gap: 2rem;
        padding: 6rem;
        padding-top: 2rem;
        &--1_column {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        background-color: white;
        border-radius: 1rem;
        padding: 3rem;
        &--red {
            background-color: var(--color-item-4);
            color: white;
        }
        &--green {
            background-color: var(--color-item-2);
            color: white;
        }
        &--orange {
            background-color: var(--color-item-3);
            color: white;
        }
        &--blue {
            background-color: var(--color-item-5);
            color: white;
        }
    }
    &__select__container {
        width: 100%;
        text-align: center;
        select {
            padding: 1rem .5rem;
        }
        & > * {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 360px) {
    .analytics {
        &__container {
            padding: 0;
            grid-template-columns: repeat(1, 1fr);
            min-width: 16rem;
        }
        &__item {
            min-width: 16rem;
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .analytics {
        &__container {
            padding: 4rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
            grid-template-columns: repeat(1, 1fr);
        }
        &__item {
            min-width: 17.5rem;
            width: 80vw;
            max-width: 43rem;
        }
        &__select__container {
            & > * {
                display: block;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
            select, button {
                width: 80%;
            }
        }
    }
}