.role-container {
    padding: 16px 0;

    .smart-table-template {
        font-size: 14px;

        thead {
            button {
                justify-content: left !important;
            }
        }
    }
}
