@use '../components/input-icon';
@use '../abstract';
//image và border phải để ở px
.main-sidebar.hide {
    width: 0px;
    padding: 0;
    overflow: hidden;
}
.main-sidebar {
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    //  padding: 24px 4px;
    padding: 24px 4px;
    transition: width 0.2s ease;
    background: var(--secondary-color);
    color: var(--color);

    width: 30vw;
    max-width: 300px;

    .container {
        position: relative;
        height: 100%;
        width: 100%;

        .sidebar__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            list-style: none;
            margin: 0;
            padding: 4px;
            li {
                width: 100%;
            }

            &__static {
                width: 100%;
                display: flex;
                // display: none;
                justify-content: center;
                align-items: center;
                min-height: 80px;
                //padding: 8px 12px;

                color: #262e4a;
                margin-bottom: 12px;
                transition: color 0.2s ease, background-color 0.2s ease;
                text-decoration: none;
                text-align: center;
                i,
                .icon {
                    color: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                }
                .sidebar__nav__title {
                    padding: 0.625rem 0.25rem;
                    display: block;
                    text-align: center;
                    width: 100%;
                    color: var(--primary-color);
                    &__header {
                        margin: 0;
                        width: 100%;
                        display: flex;
                        justify-content: left;
                        margin-bottom: 12px;
                        text-align: left;
                    }
                    &__description {
                        display: flex;
                        justify-content: left;
                        color: inherit;
                    }
                }
                @include abstract.rectangleImage(80px, 80px);
            }
            .sidebar__nav__link {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                height: 57px;
                padding: 8px 12px;
                color: inherit;

                margin-bottom: 12px;
                transition: color 0.2s ease, background-color 0.2s ease;
                text-decoration: none;
                text-align: center;
                i {
                    color: inherit;
                    // color: #9ca8ba;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 1.25rem;
                }

                &.hover,
                &:hover,
                &--active {
                    background: var(--primary-color);

                    cursor: pointer;
                    .sidebar__nav__text,
                    i,
                    .icon {
                        color: #ffffff;
                    }
                }
            }
            // .sidebar__nav__img {
            //     display: none;
            // }
            .sidebar__nav__title,
            .sidebar__nav__text {
                // display: none;
                margin-left: 10px;
                margin-right: auto;
                // white-space: nowrap;
            }
        }
    }
}

//mid PC
// @media (max-width: 1023px) {
//     .main-sidebar {
//         width: 30vw;
//     }
// }

//tablet
@media (max-width: 768px) {
    .main-sidebar {
        width: 40vw;
    }
}

//middle size responsive to avoid layout be collapsed
@media (max-width: 620px) {
    .main-sidebar {
        width: 60vw;
    }
}

//mobile S
@media (max-width: 450px) {
    .main-sidebar {
        width: 70vw;
    }
}

//mobile avg
@media (max-width: 380px) {
    .main-sidebar {
        width: 85vw;
    }
}
