@use '../abstracts/variables' as *;
.container-page {
    padding: 0 1.25rem;
    transition: 0.2s;
    &.hide {
        display: none;
    }
    background-color: inherit;
    min-height: 100vh;
    height: auto;
}
