@use '../abstract';


.import-content {
    padding-top: 1.3125rem;
    padding-left: 3.125rem;

}


.import-content > *{
    margin-inline: auto;
    // width: max-content;
    box-sizing: border-box;
}



.import-header {
    text-align: center;
    background-color: #2A83FF;
    color: white;
    width: 60%;
    min-height: 5rem;
    display: grid;
    border-radius: 0.8125rem;
    word-wrap: break-word;
    padding-block: 1rem;
}

.header-name {
    font-size: 1.75rem;
    margin: auto;
    width: 80%;
}

.import-body {
    display: grid;
    gap: 3.125rem;
    grid-template-columns: auto;
    margin-top: 3rem;
    margin-inline: 3.2rem;
    padding-bottom: 5rem;

    &--form {
        display: flex;
        gap: 30px;
        row-gap: 50px;
        flex-wrap: wrap;

        & input[type = 'text'], input[type = 'number']{
            padding-inline: 10px;
            width: calc(50% - 30px);
            height: 50px;
            background-color: white;
        }
        & select {
            padding-inline: 10px;
            width: calc(50% - 30px);
            height: 50px;
        }
        & input[type = 'file']{
            // min-width: 35%;
            // min-height: 10px;
            // height: 50px;
            margin-inline: auto;
            // text-align: center;
        }
        & label[for = 'import-file' ]{
            margin-inline: auto;
            min-width: 35%;
            min-height: 50px;
            background-color: #2A83FF;
            text-align: center;
            display: block;
        }
        & .last-item{
            width: 100%;
            display: grid;
            grid-template-rows: auto;

            & > *{
                margin-inline: auto;
            }

            & button{
                width: 200px;
                height: 50px;
                margin-inline: auto;
                color: var(--primary-color);
                background-color: white;
                border: 3px solid var(--primary-color);
                border-radius: 10px;
                transition: transform 0.2s;
                cursor: pointer;
            }

            & button:hover {
                background-color: var(--primary-color);
                color: white;
            }

            & button:active{
                transform: translateY(3px);
            }

            & select {
                width: 30%;
                background-color: white;
            }

            & span {
                filter: brightness(1.4);
                margin-bottom: -60px;
                color: var(--primary-color);
            }

        }

        & input[type = 'file'] {
            width: 350px;
            max-width: 100%;
            color: #444;
            padding: 5px;
            background: #fff;
            border-radius: 10px;
            border: 1px solid #555;
          }


        & input[type = 'file']::file-selector-button {
            margin-right: 20px;
            border: none;
            background: var(--primary-color);
            padding: 10px 20px;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: background .2s ease-in-out;
        }

        & input[type = 'file']::file-selector-button:hover {
        background: #0d45a5;
        }

    }

}





@media (max-width: 1023px){

}

@media (min-width: 768px){

}

@media (max-width: 620px){

}

@media (max-width: 450px){

}

@media (max-width: 387px){

}
