<div class="analytics__container">
    <div class="analytics__item analytics__item--orange">
        <div class="analytics__item__title">
            XYZ
        </div>
        <div class="analytics__item__desc">
            Tổng số sinh viên
        </div>
    </div>
    <div class="analytics__item analytics__item--blue">
        <div class="analytics__item__title">
            XYZ
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên tốt nghiệp
        </div>
    </div>
    <div class="analytics__item analytics__item--red">
        <div class="analytics__item__title">
            XYZ
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên trễ hạn tốt nghiệp
        </div>
    </div>
    <div class="analytics__item analytics__item--green">
        <div class="analytics__item__title">
            XYZ
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên chưa tốt nghiệp
        </div>
    </div>
</div>

<div class="analytics__select__container">
    <select name="" id="">
        <option value="-1">Chọn thời điểm tốt nghiệp</option>
    </select>
    <div class="analytics__select__render">
        
    </div>
</div>