<div class="analytics__select__container">
    <div>
        <select name="" id="analytics__selector">
            <option value="-1" selected>Tất cả thời điểm tốt nghiệp</option>
        </select>
    </div>
    <div>
        <select name="" id="analytics__khoa__selector">
            <option value="-1" selected>Tất cả khoa</option>
        </select>
    </div>
    <div>
        <select name="" id="analytics__nganh__selector">
            <option value="-1">Tất cả ngành</option>
        </select>
    </div>
    <button class="btn btn--info" id="filter">Lọc</button>
</div>

<div class="analytics__import__container">
    <button class="btn btn--info">Import</button>
    <button class="btn btn--info">Import</button>
    <button class="btn btn--info">Import</button>
    <button class="btn btn--info">Import</button>
</div>

<h3 style="text-align: center;">Thống kê theo tiêu chí</h3>

<div class="analytics__container">
    <div class="analytics__item analytics__item--blue">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Tổng số sinh viên
        </div>
    </div>
    <div class="analytics__item analytics__item--green">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên tốt nghiệp
        </div>
    </div>
    <div class="analytics__item analytics__item--red">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên trễ hạn tốt nghiệp
        </div>
    </div>
    <div class="analytics__item analytics__item--blue">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Tỷ lệ sinh viên chưa tốt nghiệp
        </div>
    </div>
    <div class="analytics__item analytics__item--orange">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Sinh viên bị cảnh cáo
        </div>
    </div>
    <div class="analytics__item analytics__item--red">
        <div class="analytics__item__title">
        </div>
        <div class="analytics__item__desc">
            Sinh viên bị buộc thôi học
        </div>
    </div>
</div>

<h3 style="text-align: center;">Thống kê theo khoa hoặc toàn hệ thống</h3>

<div class="analytics__container analytics__container--1_column" id="second__part">
    <div class="analytics__item">
        <div class="analytics__item__title">
            Danh sách sinh viên chưa tốt nghiệp
        </div>
        <div class="analytics__item__desc" id="non_graduated">
        </div>
    </div>

    <div class="analytics__item">
        <div class="analytics__item__title">
            Danh sách sinh viên bị buộc thôi học
        </div>
        <div class="analytics__item__desc" id="suspended">
        </div>
    </div>
</div>