<form class="form__import-data" action="">

    <div class="form__import-data__item">
        <label for="">Tệp tải lên: </label>
        <input type="file" multiple>
    </div>


    <div class="form__import-data__item">
        <label for="">Tệp giảng viên:</label>
        <select name="" class="file-selection" id="import-data__giang-vien__file">
            <option value="0">file 1</option>
            <option value="1">file 2</option>
        </select>
        <label for="">Tên sheets</label>
        <input id="import-data__giang-vien__sheet" type="text">
        <label for="">Dòng header</label>
        <input id="import-data__giang-vien__header" type="number">

    </div>

    <div class="form__import--data__item">

    </div>

</form>
