<form action="#" method="POST" class="form" id="role-form">
    <h3 class="heading">Chỉnh sửa quyền</h3>

    <div class="grid-container" style="display: block;">
        <div class="grid-item form-group">
            <label for="">Tên quyền</label>
            <input rules='required' type="text" name='ten' class="input" value=""/>
        </div>
        <div class="grid-item form-group">
            <label class="form-label">Ghi chú</label>
            <textarea name="ghi_chu" rows="5" cols="33" style="padding: .5rem"></textarea>
        </div>
        <div class="grid-item form-group">
            <h4>Danh sách chức năng</h4>
            <div id="ds_chuc_nang">

            </div>
        </div>
    </div>
    
    </div>
    <button class="form-submit">Cập nhật</button>
</form>
