<div class="administrative__container">
    <div class="administrative__item">
        <div>
            <input class="input" type="text" id="ma_lop" placeholder="Nhập mã lớp">
        </div>
        <div>
            <input class="input" type="text" id="ten_lop" placeholder="Nhập tên lớp">
        </div>
        <div>
            <select name="ctdt" id="chon_ctdt">
                <option value="-1" selected disabled>Chọn chương trình đào tạo</option>
            </select>
        </div>
        <form id="cvht">
            <input class="input" type="text" id="co_van" placeholder="Nhập mã cố vấn học tập">
            <button class="btn btn--info" id="check_cvht">Kiểm tra thông tin cố vấn</button>
        </form>
        <div id="advisor" class="advisor">
            
        </div>
        <div>
            <label for="bat_dau">Chọn thời gian bắt đầu</label>
            <input class="input" type="date" id="bat_dau" placeholder="Chọn thời gian bắt đầu">
        </div>
        <div>
            <label for="ket_thuc">Chọn thời gian kết thúc</label>
            <input class="input" type="date" id="ket_thuc" placeholder="Chọn thời gian kết thúc">
        </div>
        <button class="btn--info" id="tao_moi">Tạo mới</button>
    </div>
</div>