<div class="administrative__container">
    <button class="btn btn--success" id="them_lop">Thêm lớp học mới</button>
    <form method="GET" class="administrative__find_class" id="tim_lop">
        <input type="text" placeholder="Nhập mã lớp cần tìm" id="lop_can_tim">
        <button class="btn btn--info">Tìm lớp</button>
    </form>
    <div class="administrative__item">
        <div class="graduate__container" id="ds_lop">
            <div class="graduate__item__content">
                <table>
                    <tbody>
                            <tr>
                                <th>Mã lớp</th>
                                <th>Tên lớp</th>
                                <th>Số lượng sinh viên</th>
                                <th>Hành động</th>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>