<div class="administrative__container">
    <button class="btn btn--success" id="them_lop">Thêm lớp học mới</button>
    <form method="GET" class="administrative__find_class" id="tim_lop">
        <input type="text" placeholder="Nhập mã lớp cần tìm" id="lop_can_tim">
        <button class="btn btn--info">Tìm lớp</button>
    </form>
    <div class="administrative__item">
        <div id="ds_lop" class="dslop_table" style="width: fit-content;">
            <table>
                <head>
                    <tr>
                        <th>Mã lớp</th>
                        t<th>Tên lớp</th>
                        <th>Số lượng sinh viên</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>