<div class="administrative__container">
    <div class="administrative__item">
        <div>
            <input class="input" type="text" id="ma_lop" placeholder="Nhập mã lớp" disabled>
        </div>
        <div>
            <input class="input" type="text" id="ten_lop" placeholder="Nhập tên lớp" disabled>
        </div>
        <div>
            <select name="ctdt" id="chon_ctdt" disabled>
                <option value="-1" disabled>Chưa chọn chương trình đào tạo</option>
            </select>
        </div>
        <form id="cvht">
            <input class="input" type="text" id="co_van" placeholder="Nhập mã cố vấn học tập" disabled>
        </form>
        <div id="advisor" class="advisor">
            
        </div>
        <div>
            <label for="bat_dau">Chọn thời gian bắt đầu</label>
            <input class="input" type="date" id="bat_dau" placeholder="Chọn thời gian bắt đầu"  disabled>
        </div>
        <div>
            <label for="ket_thuc">Chọn thời gian kết thúc</label>
            <input class="input" type="date" id="ket_thuc" placeholder="Chọn thời gian kết thúc"  disabled>
        </div>
        <button class="btn btn--info" id="chinh_sua">Chỉnh sửa thông tin</button>
        <button class="btn btn--danger" id="xoa">Xoá</button>
        <div>
            <h3>Danh sách sinh viên thuộc lớp</h3>
            <div id="dssv_table" class="dssv_table" style="max-height: 64rem; overflow-y: auto;">
                <table>
                    <thead>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Tên sinh viên</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <br>
            <form id="sv_to_dssv_form">
                <label for="sv_to_dssv">Nhập mã sinh viên cần thêm vào danh sách</label>
                <input type="text" id="sv_to_dssv">
                <button class="btn btn--info">Thêm</button>
            </form>
        </div>
        <button class="btn btn--info" id="cap_nhat_dssv">Cập nhật danh sách sinh viên</button>
    </div>
</div>