<div class="class-page-container">
    <div class="classroom-page">
        <div class="classroom-page__header">
            <h1 class="classroom-page__header__title">LỚP HỌC</h1>
            <div class="classroom-page__header__description">Thứ 2, ngày 3 tháng 2 năm 2023</div>
        </div>
    </div>

    <div class="class-container">
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng asfno vsdfja fdfk osjk</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>
                    Lập trình web và ứng dụng á ca scjnoaavoeqưqf ă fc ưè qds av qre eqr fava feq v req qve advqe fv
                    aẻew ẻgrv ưvẻ găgreg ưẻ gẻb rff wr frưe fwrf w gửg ư g
                </h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Phân tích thiết ké hệ thống thông tin nânvfdvl luôn cho tên nó dài</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dừèwêfwềụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
        <div class="class-item">
            <div class="class-item__text">
                <h3>Lập trình web và ứng dụng</h3>
            </div>
            <div class="class-item__bar">
                <div class="class-item__bar--progress"></div>
                <span>10 tasks | 56%</span>
            </div>
        </div>
    </div>
</div>
