<div class="home-container">
    <div class="home-center-container">
        <!--start content classroom-->
        <div class="classroom">
            <div class="classroom__header" id="classroom__header"></div>
        </div>
        <!--end content classroom-->

        <div class="class-item-container"></div>
        <div class="dashboard_link_to_classroom" style="width: 100%">
            <a href="/classroom">-> Đến danh sách lớp học của bạn</a>
        </div>

        <div class="chart">
            <h1 class="chart__title">Kế hoạch thực hiện</h1>
            <h2 class="chart__header">
                <button class="chart__header__prev">&leftarrow;</button>
                <input type="date" class="chart__header__content" id="chart__header" />
                <button class="chart__header__next">&rightarrow;</button>
            </h2>
            <div class="chart__content" id="chart__content"></div>
        </div>
    </div>
    <div class="home-right-container">
        <div class="progress-container">
            <h3 class="progress-container__heading">Tiến độ bài tập</h3>
            <div class="percentage">
                <div class="percentage__circle">
                    <div class="percentage__text--daily">Tiến độ hôm nay</div>
                    <div class="percentage__circle--circle c100 pink center small">
                        <span class="percentage__circle--text"></span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <div class="percentage__text--completed"></div>
                    <div class="percentage__text--task"></div>
                </div>
                <div class="percentage__taskHours">
                    <div class="percentage__taskHours--item percentage__tasks">
                        <span>13</span><img src="./img/check.png" alt="" />
                        <p>
                            Bài tập<br />
                            đã hoàn thành
                        </p>
                    </div>
                    <div class="percentage__taskHours--item percentage__hours">
                        <span>10</span><img src="./img/clock.png" alt="" />
                        <p>
                            Tiếng<br />
                            đã học
                        </p>
                    </div>
                </div>
            </div>
            <div class="deadline" id="right-panel-dashboard__deadline">
                <span>Bài tập còn lại</span>
                <div class="deadline__item">
                    <div class="deadline__item--subject">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="deadline__item--teacher">Nguyễn Thanh Sang</div>
                    <div class="deadline__item--time">1 ngày</div>
                    <div class="deadline__item--bio">
                        Thực hành HTML/CSS,db vg gd va av aegv aeo bfgb JS, gửi và nộp ư ừẻbebfe ửvgvsf ửgsvd bài dưới
                        dạng pdf
                    </div>
                </div>
                <div class="deadline__item">
                    <div class="deadline__item--subject">Nhập môn cờ vua</div>
                    <div class="deadline__item--teacher">Võ Khương Duy</div>
                    <div class="deadline__item--time">12 tiếng</div>
                    <div class="deadline__item--bio">
                        Thực hiện thế cờ khai cuộc Queen's Gambit trên Chess.com, chụp lại và nộp file pdf.
                    </div>
                </div>
            </div>
            <div class="calendar">
                <b>Thời khoá biểu</b>
                <div class="calendar__time"></div>
                <div class="calendar__item">
                    <div class="calendar__item--time">9: 50</div>
                    <div class="calendar__item--vertical-line"></div>
                    <div class="calendar__item--info">
                        Lập trình web và ứng dụng nhưng lại là một cái gì đó dài thiệt dài để test layout
                    </div>
                </div>
                <div class="calendar__item">
                    <div class="calendar__item--time">11: 00</div>
                    <div class="calendar__item--vertical-line"></div>
                    <div class="calendar__item--info">Môn B</div>
                </div>
            </div>
        </div>
    </div>
</div>
