<div class='graduate'>
    <div class="graduate__title">
        Chương trình đào tạo ngành Công nghệ thông tin, chu kỳ 2020 - 2024
    </div>
    <div class="graduate__suggest">
        <a href="">Đề xuất môn học nên đăng ký</a>
    </div>
    <select name="" id="" class="form-control graduate__select">
        <option value="-1">Tất cả học kỳ</option>
    </select>
    <div class="graduate__container">
        <div class="graduate__item">
            <div class="graduate__item__title">
                Học kỳ 1 - Năm học 2021-2022
            </div>
            <div class="graduate__item__content">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>STC</th>
                        <th>Điểm</th>
                        <th>Điểm chữ</th>
                        <th>Kết quả</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td>
                            <a href="#" class="graduate__more">Chi tiết</a>
                            <div class="graduate__tooltip">
                                <div class="graduate__tooltip__item">
                                    Giữa kỳ: X.YZ <br>
                                    Cuối kỳ: X.YZ
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">Số tín chỉ đạt (16) + Số tín chỉ chưa đạt (0) =</td>
                        <td>16</td>
                        <td colspan="5">Trung bình học kỳ: 8.32</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="graduate__item">
            <div class="graduate__item__title">
                Học kỳ 2 - Năm học 2021-2022
            </div>
            <div class="graduate__item__content">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>STC</th>
                        <th>Điểm</th>
                        <th>Điểm chữ</th>
                        <th>Kết quả</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">Số tín chỉ đạt (16) + Số tín chỉ chưa đạt (0) =</td>
                        <td>16</td>
                        <td colspan="5">Trung bình học kỳ: 8.32</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="graduate__item">
            <div class="graduate__item__title">
                Học kỳ 1 - Năm học 2022-2023
            </div>
            <div class="graduate__item__content">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>STC</th>
                        <th>Điểm</th>
                        <th>Điểm chữ</th>
                        <th>Kết quả</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">Số tín chỉ đạt (16) + Số tín chỉ chưa đạt (0) =</td>
                        <td>16</td>
                        <td colspan="5">Trung bình học kỳ: 8.32</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="graduate__item">
            <div class="graduate__item__title">
                Học kỳ 2 - Năm học 2022-2023
            </div>
            <div class="graduate__item__content">
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>STC</th>
                        <th>Điểm</th>
                        <th>Điểm chữ</th>
                        <th>Kết quả</th>
                        <th>Chi tiết</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td>7.3</td>
                        <td>B</td>
                        <td>Đạt</td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">Số tín chỉ đạt (16) + Số tín chỉ chưa đạt (0) =</td>
                        <td>16</td>
                        <td colspan="5">Trung bình học kỳ: 8.32</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>