<div class="import-content" >

    <div class="import-header">
        <div class="header-name">
            NHẬP DỮ LIỆU
        </div>
    </div>

    <div class="import-body">

        <div class="import-body--form">
            <input type="text" placeholder="Tên bảng tính (sheet)">
            <input type="text" placeholder="Số thứ tự dòng tiêu đề (header)">
            <select name="" id="">
                <option value="giang-vien">Giảng viên</option>
                <option value="sinhvien">Sinh viên</option>
                <option value="hocphan">Học phần</option>
                <option value="ctdt">Chương trình đào tạo</option>
                <option value="nganh">Ngành</option>
                <option value="khoa">Khoa</option>
            </select>
            <input type="file">
        </div>

    </div>

</div>
