<div class="info-content" >
    
    <div class="info-header">
        <div class="header-name">
            THÔNG TIN CÁ NHÂN
        </div>
    </div>

    <div class="info-body">
        <div class="item__container">
            <div class="item__title">
                Thông tin cá nhân
            </div>
            <div class="item__block">
                <div class="item__line">
                    <div class="item-line__text">
                        Họ và Tên:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Trần Dương Đắc Lộc
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Ngày sinh:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        06 - 05 - 2003
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Email:
                    </div>
                    <input class="item-line__text item-line__text--strong" placeholder="trandacloc123@gmail.com">
                        
                    </input>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Giới tính:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Nam
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Mật khẩu:
                    </div>
                    <input class="item-line__text item-line__text--strong" placeholder="*********">
                </div>
                <div class="item__button">
                    <div>Thay đổi</div>
                </div>
            </div>
        </div>


        <div class="item__container">
            <div class="item__title">
                Thông tin đào tạo
            </div>
            <div class="item__block">
                <div class="item__line">
                    <div class="item-line__text">
                        Ngành đào tạo:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Công nghệ thông tin
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        MSSV:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        06 - 05 - 2003
                    </div>
                </div>
                
                <div class="item__line">
                    <div class="item-line__text">
                        Giới tính:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Nam
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Label:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        -------Data--------
                    </div>
                </div>
                <div class="item__button">
                    <div>Thay đổi</div>
                </div>
            </div>
        </div>
    </div>
        
</div>