<div class="info-content" >

    <div class="info-header">
        <div class="header-name">
            THÔNG TIN CÁ NHÂN
        </div>
    </div>

    <div class="info-body">
        <div class="item__container">
            <div class="item__title">
                Thông tin cá nhân
            </div>
            <div class="item__block">
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Mã số sinh viên:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        31214103030303
                    </div>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Họ và Tên:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Trần Dương Đắc Lộc
                    </div>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Ngày sinh:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        06 - 05 - 2003
                    </div>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Email:
                    </div>
                    <input class="item-line__text item-line__text--strong" placeholder="trandacloc123@gmail.com">

                    </input>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Giới tính:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Nam
                    </div>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Mật khẩu:
                    </div>
                    <input class="item-line__text item-line__text--strong" placeholder="*********">
                </div>
                <div class="item__button">
                    <div>Thay đổi</div>
                </div>
            </div>
        </div>


        <div class="item__container">
            <div class="item__title">
                Tiến độ tốt nghiệp
            </div>
            <div class="item__block">
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Số chứng chỉ đầu ra đã nộp:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        0
                    </div>
                </div>
                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Số học phần đã hoàn thành:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        XX
                    </div>
                </div>

                <div class="item__line item__line--2col">
                    <div class="item-line__text">
                        Dự kiến tốt nghiệp theo tiến độ:
                    </div>
                    <div class="item-line__text item-line__text--strong">
                        Khả thi
                    </div>
                </div>
                <div class="item__button">
                    <div>Thay đổi</div>
                </div>
            </div>
        </div>


        <div class="item__container">
            <div class="item__title">
                Lý do không tốt nghiệp đúng thời hạn (nếu có)
            </div>
            <div class="item__block">
                <div class="item__line">
                    <div class="item-line__text">
                        Thiếu chứng chỉ tiếng anh...
                    </div>
                </div>
                <div class="item__line">
                    <div class="item-line__text">
                        Các học phần chưa hoàn thành:....
                    </div>
                </div>
                <div class="item__button">
                    <div>Thay đổi</div>
                </div>
            </div>
        </div>

    </div>

</div>
