<div  class="content-body" ">
    <div class="form-wrapper">
        <form class="bg-white" id="login-form"  >
            <h1 class="text-title">Đăng nhập</h1>
            <div class="field-group">
                <label class="label h3" for="txt-email">Mã số sinh viên</label>
                <input
                    class="input"
                    type="text"
                    id="mssv"
                    name="mssv"
                    placeholder="Nhập tài khoản"
                    value="3121560022"
                />
            </div>
            <div class="field-group">
                <label class="label h3" for="txt-password">Mật khẩu</label>
                <input
                    class="input"
                    type="password"
                    id="txt-password"
                    name="password"
                    placeholder="Nhập mật khẩu"
                    value="123456"
                />
                <a href="#forgot" class="link-forgot h4">Quên mật khẩu?</a>
            </div>

            <div class="field-group">
                <input class="btn-submit" type="submit" value="Đăng nhập" />
            </div>
        </form>
    </div>
</div>
