<div class="people-container">
    <div class="lecturer-container">
        <div class="container__info">
            <div class="container__title">Giảng viên</div>
            <div class="container__count">1</div>
        </div>
        <div class="container__splitter"></div>
        <div class="lecturer">
            <div class="lecturer__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="lecturer__name">
                Trần Thanh Duy
            </div>
        </div>
    </div>
    <div class="students-container">
        <div class="container__info">
            <div class="container__title">Sinh viên</div>
            <div class="container__count">10</div>
        </div>
        <div class="container__splitter"></div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
        <div class="student">
            <div class="student__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="student__name">
                Trần Dương Đắc Lộc
            </div>
        </div>
    </div>
</div>