<div class="hide"></div>
<div class="popup popup--activated">
    <div class="popup__content">
        <div class="popup__title">{Title}</div>
        <div class="popup__created-date">6 thg 2</div>
        <div class="popup__points">100 điểm</div>
        <div class="popup__description">
            {Nội dung}
        </div>
    </div>
    <div class="popup__duration">2d</div>
    <div class="popup__splitter"></div>
    <div class="popup__uploads">
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
    </div>
    <div class="popup__action popup__action--red">
        <div>Huỷ nộp bài</div>
    </div>
    <div class="popup__status popup__status--green">
        <div class="popup__status__text">
            Đã nộp
        </div>
        <div class="popup__status__icon">
            <img src="/img/check-green.png" alt="">
        </div>
    </div>
</div>
<div class="popup popup--activated popup--hide">
    <div class="popup__content">
        <div class="popup__title">{Title}</div>
        <div class="popup__created-date">6 thg 2</div>
        <div class="popup__points">100 điểm</div>
        <div class="popup__description">
            {Nội dung}
        </div>
    </div>
    <div class="popup__duration">2d</div>
    <div class="popup__splitter"></div>
    <div class="popup__uploads">
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
    </div>
    <div class="popup__action popup__action--red">
        <div>Huỷ nộp bài</div>
    </div>
    <div class="popup__status popup__status--green">
        <div class="popup__status__text">
            8/100
        </div>
        <div class="popup__status__icon">
            <img src="/img/check-green.png" alt="">
        </div>
    </div>
</div>
<div class="popup popup--activated popup--hide">
    <div class="popup__content">
        <div class="popup__title">{Title}</div>
        <div class="popup__created-date">6 thg 2</div>
        <div class="popup__points">100 điểm</div>
        <div class="popup__description">
            {Nội dung}
        </div>
    </div>
    <div class="popup__duration">2d</div>
    <div class="popup__splitter"></div>
    <div class="popup__uploads">
        <div class="popup__file">
            <div>+</div>
        </div>
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
        <div class="popup__file">
            <div>fileádfsdafasdfasdfas.ext</div>
        </div>
    </div>
    <div class="popup__action popup__action--green">
        <div>Nộp bài</div>
    </div>
    <div class="popup__status popup__status--red">
        <div class="popup__status__text">
            Chưa hoàn thành
        </div>
        <div class="popup__status__icon">
            <img src="/img/clock.png" alt="">
        </div>
    </div>
</div>
<div class="popup popup--activated popup--hide">
    <div class="popup__content">
        <div class="popup__title">{Title}</div>
        <div class="popup__created-date">6 thg 2</div>
        <div class="popup__points">100 điểm</div>
        <div class="popup__description">
            {Nội dung}
        </div>
    </div>
    <div class="popup__duration">2d</div>
    <div class="popup__splitter"></div>
    <div class="popup__uploads">
    </div>
    <div class="popup__action popup__action--blue">
        <div>Thêm bài tập của bạn</div>
    </div>
    <div class="popup__status popup__status--red">
        <div class="popup__status__text">
            Chưa hoàn thành
        </div>
        <div class="popup__status__icon">
            <img src="/img/clock.png" alt="">
        </div>
    </div>
</div>