<div class='graduate'>
    <div class="graduate__title">
        Chương trình đào tạo ngành Công nghệ thông tin, chu kỳ 2020 - 2024
    </div>
    <select name="" id="" class="form-control graduate__select">
        <option value="">Tất cả học kỳ</option>
    </select>
    <div class="graduate__container">
        <div class="graduate__item">
            <div class="graduate__item__title">
                Danh sách môn học gợi ý
            </div>
            <div class="graduate__item__content graduate__item__content--suggest">
                <table>
                    <tr>
                        <th></th>
                        <th>Mã học phần</th>
                        <th>Tên học phần</th>
                        <th>STC</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td></td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td></td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td></td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td></td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>841021</td>
                        <td>Kiến trúc máy tính</td>
                        <td>3</td>
                        <td></td>
                        <td><a href="#">Chi tiết</a></td>
                    </tr>
                    <tr>
                        <td colspan="3">Tổng số tín chỉ của các môn học đã chọn =</td>
                        <td>16</td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>