<div class="tasks-container">
    <div class="task">
        <div class="task__container">
            <div class="task__author__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="task__text">
                <div class="task__text-1st">
                    <div class="task__author__name">
                        Nguyễn Thanh Duy
                    </div>
                    <div class="task__content">
                        đã đăng một bài tập mới: {Title}
                    </div>
                </div>
                <div class="task__text-2nd">
                    <div class="task__created-date">
                        6 thg 2
                    </div>
                     - 
                    <div class="task__deadline">
                        hạn nộp 8 thg 2
                    </div>
                </div>
            </div>
            <div class="task__duration"><div>2d</div></div>
        </div>
        <div class="task__action task__action--green">
            <div>Nộp bài</div>
        </div>
        <div class="task__status task__status--red">
            <div class="task__status__text">
                Chưa hoàn thành
            </div>
            <div class="task__status__icon">
                <img src="/img/clock.png" alt="">
            </div>
        </div>
    </div>
    <div class="task">
        <div class="task__container">
            <div class="task__author__avatar">
                <img src="/img/person.png" alt="">
            </div>
            <div class="task__text">
                <div class="task__text-1st">
                    <div class="task__author__name">
                        Nguyễn Thanh Duy
                    </div>
                    <div class="task__content">
                        đã đăng một bài tập mới: {Title}
                    </div>
                </div>
                <div class="task__text-2nd">
                    <div class="task__created-date">
                        6 thg 2
                    </div>
                </div>
            </div>
            <div class="task__duration"><div>2d</div></div>
        </div>
        <div class="task__action task__action--blue">
            <div>Xem thêm</div>
        </div>
        <div class="task__status task__status--green">
            <div class="task__status__text">
                Điểm: 10/10
            </div>
            <div class="task__status__icon">
                <img src="/img/check-green.png" alt="">
            </div>
        </div>
    </div>
</div>