<div class="class-container">
    <div class="class-center-container">
        <div class="class-center-container__class-header" id="class-center-container__class-header"></div>
        <div class="class-center-container__class-dashboard">
            <div class="class-center-container__class-dashboard-tab">
                <div class="class-center-container__class-dashboard-tab-btn">Bài đăng</div>
                <div class="class-center-container__class-dashboard-tab-btn">Bài tập</div>
                <div class="class-center-container__class-dashboard-tab-btn">Mọi người</div>
                <div class="mark-table-student" id="mark-table-student">Bảng điểm nhóm học</div>
            </div>
            <div class="class-center-container__class-dashboard-tab-content">
                <!-- Bài đăng -->
                <div class="class-center-container__class-dashboard--post tab-content">
                    <button
                        type="submit"
                        class="class-center-container__class-dashboard--post--add-btn class-dashboard-btn"
                    >
                        Thêm bài đăng mới
                    </button>
                    <form
                        class="new-post__form class-center-container__class-dashboard--new-post"
                        id="class-center-container__class-dashboard--new-post"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        <div class="new-post__form--container">
                            <label for="tieu_de">Tiêu đề:</label>
                            <input type="text" class="new-post__tilte" name="tieu_de" onfocus="this.value=''" /><br />
                        </div>
                        <div class="new-post__form--container">
                            <label for="noi_dung">Nội dung:</label>
                            <textarea
                                type="text"
                                class="new-post__form--container-content"
                                name="noi_dung"
                                onfocus="this.value=''"
                            ></textarea
                            ><br />
                        </div>

                        <input
                            type="file"
                            class="new-post__form--file-input"
                            id="class-center-container__class-dashboard--new-post-files"
                            name="files"
                            multiple
                        /><br />
                        <div class="new-post__form--submit">
                            <button class="new-post__form--submit-cancel class-dashboard-btn-cancel">Huỷ</button>
                            <input type="submit" value="Thêm bài viết mới" />
                        </div>
                    </form>
                    <!-- form edit bài đăng -->
                    <form
                        class="new-post__form class-center-container__class-dashboard--edit-post edit-post-modal"
                        id="class-center-container__class-dashboard--edit-post"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        CHỈNH SỬA BÀI ĐĂNG
                        <div class="new-post__form--container">
                            <label for="tieu_de">Tiêu đề bài đăng:</label>
                            <input type="text" class="new-homework__tilte" name="tieu_de" /><br />
                        </div>
                        <div class="new-post__form--container">
                            <label for="noi_dung">Nội dung:</label>
                            <textarea type="text" class="new-post__form--container-content" name="noi_dung"></textarea
                            ><br />
                        </div>

                        <input
                            type="file"
                            class="new-homework__form--file-input"
                            id="class-center-container__class-dashboard--edit-post-files"
                            name="files"
                            multiple
                        /><br />
                        <div class="new-post__form--submit">
                            <button class="new-post__form--submit-cancel class-dashboard-btn-cancel edit-form-cancel">
                                Huỷ
                            </button>
                            <input type="submit" value="Cập nhật" />
                        </div>
                    </form>
                    <div
                        class="class-center-container__class-dashboard--post-feed"
                        id="class-center-container__class-dashboard--post-feed"
                    ></div>
                </div>

                <!-- Bài tập -->
                <div class="class-center-container__class-dashboard--homework tab-content">
                    <div>
                        <button id="giao_vien_new_bai_tap_btn">Bài tập mới nhất</button>
                        <button id="giao_vien_deadline_bai_tap_btn">Bài tập đến hạn</button>
                    </div>
                    <button
                        type="submit"
                        class="class-center-container__class-dashboard--homework--add-btn class-dashboard-btn"
                    >
                        Thêm bài tập mới
                    </button>

                    <form
                        class="new-homework__form class-center-container__class-dashboard--new-homework"
                        id="class-center-container__class-dashboard--new-homework"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        THÊM BÀI ĐĂNG MỚI
                        <div class="new-homework__form--container">
                            <label for="tieu_de">Tiêu đề bài tập:</label>
                            <input
                                type="text"
                                class="new-homework__tilte"
                                name="tieu_de"
                                onfocus="this.value=''"
                            /><br />
                        </div>
                        <div class="new-homework__form--container">
                            <label for="ngay_ket_thuc">Ngày hết hạn:</label>
                            <input type="datetime-local" class="new-homework__date" onfocus="this.value=''" /><br />
                        </div>
                        <!-- <div class="new-homework__form--container">
                            <label for="ngay_ket_thuc">Giờ hết hạn:</label>
                            <input type="time" class="new-homework__time" name="" /><br />
                        </div> -->
                        <div class="new-homework__form--container">
                            <label for="noi_dung">Nội dung:</label>
                            <textarea
                                type="text"
                                class="new-homework__form--container-content"
                                name="noi_dung"
                                onfocus="this.value=''"
                            ></textarea
                            ><br />
                        </div>

                        <input
                            type="file"
                            class="new-homework__form--file-input"
                            name="files"
                            id="class-center-container__class-dashboard--edit-homework-files"
                            multiple
                        /><br />
                        <div class="new-homework__form--submit">
                            <button class="new-homework__form--submit-cancel class-dashboard-btn-cancel">Huỷ</button>
                            <input type="submit" value="Thêm bài viết mới" />
                        </div>
                    </form>
                    <!-- form edit bài đăng -->
                    <form
                        class="new-homework__form class-center-container__class-dashboard--edit-homework edit-post-modal"
                        id="class-center-container__class-dashboard--edit-homework"
                        method="POST"
                        enctype="multipart/form-data"
                    >
                        CHỈNH SỬA BÀI ĐĂNG
                        <div class="new-homework__form--container">
                            <label for="tieu_de">Tiêu đề bài đăng:</label>
                            <input type="text" class="new-homework__tilte" name="tieu_de" /><br />
                        </div>
                        <div class="new-homework__form--container">
                            <label for="ngay_ket_thuc">Ngày hết hạn:</label>
                            <input type="datetime-local" class="new-homework__date" /><br />
                        </div>
                        <div class="new-homework__form--container">
                            <label for="noi_dung">Nội dung:</label>
                            <textarea
                                type="text"
                                class="new-homework__form--container-content"
                                name="noi_dung"
                            ></textarea
                            ><br />
                        </div>

                        <input
                            type="file"
                            class="new-homework__form--file-input"
                            id="class-center-container__class-dashboard--edit-homework-files"
                            name="files"
                            multiple
                        /><br />
                        <div class="new-homework__form--submit">
                            <button
                                class="new-homework__form--submit-cancel class-dashboard-btn-cancel edit-form-cancel"
                            >
                                Huỷ
                            </button>
                            <input type="submit" value="Cập nhật" />
                        </div>
                    </form>
                    <div class="task-container" id="task-container">
                        <div class="task">
                            <div class="task__container">
                                <div class="task__author__avatar">
                                    <img src="../../img/person.png" alt="" />
                                </div>
                                <div class="task__text">
                                    <div class="task__text-1st">
                                        <div class="task__author__name">Nguyễn Thanh Duy</div>
                                        <div class="task__content">đã đăng một bài tập mới: {Title}</div>
                                    </div>
                                    <div class="task__text-2nd">
                                        <div class="task__created-date">6 thg 2</div>
                                        -
                                        <div class="task__deadline">hạn nộp 8 thg 2</div>
                                    </div>
                                </div>
                                <div class="task__duration"><div>2d</div></div>
                            </div>
                            <div class="task__action task__action--green">
                                <div>Nộp bài</div>
                            </div>
                            <div class="task__status task__status--red">
                                <div class="task__status__text">Chưa hoàn thành</div>
                                <div class="task__status__icon">
                                    <img src="../../img/clock.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mọi người -->
                <div
                    class="class-center-container__class-dashboard--everyone tab-content"
                    id="class-center-container__class-dashboard--everyone tab-content"
                ></div>
            </div>
        </div>
    </div>
    <div class="class-right-container">
        <div class="exercise-container">
            <div class="exercise__header">
                <h3 class="exercise__header--heading">
                    <span>Lớp học</span>
                    <a id="classroom-rightpanel-btn">xem thêm<img src="../../img/next.png" /></a>
                </h3>
            </div>
            <div class="exercise__content" id="exercise__content">
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
            </div>
        </div>
        <div class="noti-container">
            <div class="noti__header">
                <h3 class="noti__header--heading">
                    <span>Thông báo</span><a href="#">xem thêm<img src="../../img/next.png" /></a>
                </h3>
            </div>
            <div class="noti__content">
                <div class="noti__content--item">
                    <div class="noti__content--item--container">
                        <img src="../../img/teacher.png" />
                        <span>Thanh Duy vừa đăng một cái gì đó vào trong Lập trình web</span>
                    </div>
                </div>
                <div class="noti__content--item">
                    <div class="noti__content--item--container">
                        <img src="../../img/teacher.png" />
                        <span>Thanh Duy vừa đăng một cái gì đó vào trong Lập trình web</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
