<div class="homework__container">
    <div class="homework__table" style="height: 20rem; overflow-y: auto; max-width: fit-content;">
        <table>
            <tbody>
                <tr>
                    <th>STT</th>
                    <th>Tên sinh viên</th>
                    <th>Bài tập đã nộp</th>
                    <th>Điểm</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Lorem ipsum</td>
                    <td><a href="">Lorem ipsum</a></td>
                    <td><input type="text"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn--success" id="homework__submit" style="margin: 1rem 0;">Xác nhận</button>
</div>