// table td {
//     border: 1px solid #eee;
// }
$firstLight: #fefcf3;
// $secondLight: #f5ebe0;
$secondLight: #fff;
.table-tree {
    // tr td {
    //     max-height: 100px;
    //     padding: 10px 10px;
    //     transition: max-height 0.6s, padding 0.6s;
    // }
    tr.hide {
        // max-height: 0;
        // padding: 0 10px;
        // box-sizing: border-box;
        // overflow: hidden;
        // transition: max-height 0.3s, padding 0.3s;
        display: none;
    }

    // tr.hide {
    //     border-spacing: 0;
    //     td {
    //         line-height: 0;
    //         padding: 0;
    //     }
    // }
    // tr[data-depth='1'] td:first-child,
    // tr[data-depth='2'] td:first-child {
    //     content: '';
    //     padding-left: calc(attr(data-depth number) * 15px);
    // }
    // tr[data-depth] {
    //     --depth: attr(data-depth);
    //     --data-depth: var(--depth);
    // }
    // tr[data-depth] .toggle::after {
    //     content: var(--data-depth string);
    //     padding-left: 8px;
    // }
    // tr[data-depth='2'] .toggle {
    //     content: '';
    //     padding-left: 16px;
    // }
    // tr[data-depth='2'] .toggle {
    //     content: '';
    //     padding-left: 16px;
    // }
    // tr[data-depth='3'] .toggle {
    //     content: '';
    //     padding-left: 24px;
    // }
    // tr[data-depth='4'] .toggle {
    //     content: '';
    //     padding-left: 32px;
    // }
    .collapse .toggle::before {
        color: var(--color);
        content: attr(data-depth);
    }
    .expand .toggle::before {
        color: var(--color);

        content: attr(data-depth);
        content: '+';
    }
    .collapse .toggle,
    .expand .toggle {
        cursor: pointer;
        &:hover,
        &:active {
            opacity: 0.8;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
    }
    .collapse .toggle::before,
    .expand .toggle::before {
        border-radius: 50%;
        padding: 8px;
        margin: 8px;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        cursor: pointer;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .table-responsive,
    .table-responsive thead,
    .table-responsive tbody,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
        display: block;
    }
    .table-responsive > thead > tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-responsive > tbody > tr {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .table-responsive > tbody > tr:first-child {
        border-radius: 3px 3px 0 0;
        border-top: none;
    }
    .table-responsive > tbody > tr:last-child {
        border-radius: 0 0 3px 3px;
        border-bottom: none;
    }
    .table-responsive > tbody > tr td {
        border: none;
        border-bottom: 1px solid #ccc;
        position: relative;
        padding-left: 30% !important;
        width: 100%;
        overflow: hidden;
    }
    .table-responsive > tbody > tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 15px;
        left: 14px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: 14px;
    }
    .table-responsive > tbody > tr td:first-child {
        text-align: left;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child {
        padding: 25px 0 25px 30% !important;
        background-position: left 32% center;
    }
    .table-responsive.table-order > tbody > tr:nth-child(-n + 3) > td:first-child span {
        left: 32%;
    }
}
