.tasks-container {
    // Width set tạm
    min-width: 37.5rem;
    padding: 1.25rem;
    background: #2A83FF33;
    .task {
        position: relative;
        background: #fff;
        border: 0.0625rem solid #2A83FF;
        box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
        border-radius: 0.625rem;
        padding-bottom: 0.9375rem;
        margin-bottom: 1.875rem;
        &__author {
            &__name {
                color: #2A83FF;
                display: inline-block;
                margin-bottom: 0.125rem;
            }
            &__avatar {
                display: inline-block;
                width: 3.125rem;
                height: 3.125rem;
                margin-right: 0.5rem;
                vertical-align: top;
                * {
                    width: inherit;
                    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
                    padding: 0.0625rem;
                    border: 0.0625rem solid #fff;
                    border-radius: 100%;
                }
            }
        }
        &__text {
            vertical-align: super;
            width: 76%;
        }
        &__content, &__created-date, &__deadline, &__text {
            display: inline-block;
        }
        &__created-date {
            color: #9CA8BA;
            font-size: 85%;
        }
        &__deadline {
            color: #FF7782;
            font-size: 85%;
        }
        &__container {
            position: relative;
            padding-top: 0.9375rem;
            padding-left: 2rem;
            padding-bottom: 1.25rem;
            border-bottom: 0.0625rem solid #2A83FF;
        }
        &__duration {
            position: absolute;
            top: 0.625rem;
            right: 1.25rem;
            background: #FF7782;
            border-radius: 0.75rem;
            width: 2.25rem;
            height: 1.5rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-weight: 400;
            font-size: 0.75rem;
        }
        &__action {
            &--green {
                background: #BDF2C8;
                color: #51B69D;
            }
            &--blue {
                background: #2A83FF33;
                color: #2A83FF;
            }
            cursor: pointer;
            margin-top: 0.625rem;
            margin-left: 1.25rem;
            width: fit-content;
            padding: 0 0.9375rem 0 0.9375rem;
            height: 2rem;
            border-radius: 1rem;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            * {
                height: fit-content;
            }
            font-weight: 500;
            font-size: 0.875rem;
        }
        &__status {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            width: 8.875rem;
            height: 2rem;
            position: absolute;
            bottom: 0.9375rem;
            right: 1.25rem;
            &--red {
                color: #FF7782;
            }
            &--green {
                color: #51B69D;
            }
            &__text {
                font-weight: 400;
                font-size: 0.75rem;
            }
            &__icon {
                margin-left: 0.625rem;
                width: 2rem;
                height: 2rem;
                * {
                    width: inherit;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .tasks-container {
        min-width: 18.75rem;
        .task {
            padding-bottom: 0.3125rem;
            &__author {
                &__avatar {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &__text {
                width: 64%;
            }
            &__container {
                padding-top: 0.5rem;
                padding-left: 1rem;
            }
            &__duration {
                top: 0.3125rem;
                right: 0.625rem;
            }
            &__action {
                margin-top: 0.3125rem;
                margin-left: 0.625rem;
            }
            &__status {
                right: 0.625rem;
                bottom: 0.3125rem;
            }
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
    .tasks-container {
        min-width: 18.75rem;
        width: 80vw;
        max-width: 44.25rem;
        .task {
            padding-bottom: 0.3125rem;
            &__author {
                &__avatar {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &__text {
                width: 64%;
            }
            &__container {
                padding-top: 0.5rem;
                padding-left: 1rem;
            }
            &__duration {
                top: 0.3125rem;
                right: 0.625rem;
            }
            &__action {
                margin-top: 0.3125rem;
                margin-left: 0.625rem;
            }
            &__status {
                right: 0.625rem;
                bottom: 0.3125rem;
            }
        }
    }
}