@use '../abstracts/variables' as *;

// * {
//     --color: #{$color};
//     --primary-color: #{$primary_color};
//     --secondary-color: #{$secondary_color};
//     --third-color: #{$third_color};
//     --fourth-color: #{$fourth_color};
//     --color-item-1: #717eee;
//     --color-item-2: #84d295;
//     --color-item-3: #ffbb55;
//     --color-item-4: #ff7782;
//     --color-item-5: #45bfff;
// }
:root {
    --color: #{$color};
    --primary-color: #{$primary_color};
    --secondary-color: #{$secondary_color};
    --third-color: #{$third_color};
    --fourth-color: #{$fourth_color};
    --fourth-color-text: #{$fourth_color_text};

    --color-item-1: #717eee;
    --color-item-2: #84d295;
    --color-item-3: #ffbb55;
    --color-item-4: #ff7782;
    --color-item-5: #45bfff;
    --success: #71be34;
    --warning: #ffb702;
    --info: #2f86eb;
    --error: #ff623d;
}

// body {
//     --color: #{$color};
//     --primary-color: #{$primary_color};
//     --secondary-color: #{$secondary_color};
//     --third-color: #{$third_color};
//     --fourth-color: #{$fourth_color};
//     --color-item-1: #717eee;
//     --color-item-2: #84d295;
//     --color-item-3: #ffbb55;
//     --color-item-4: #ff7782;
//     --color-item-5: #45bfff;
// }
body.dark {
    --color: #{$color_dark};
    --primary-color: #{$primary_dark_color};
    --secondary-color: #{$secondary_dark_color};
    --third-color: #{$third_dark_color};
    --fourth-color: #{$fourth_dark_color};

    --color-item-1: #717eee;
    --color-item-2: #84d295;
    --color-item-3: #ffbb55;
    --color-item-4: #ff7782;
    --color-item-5: #45bfff;
    // background-color: $color_dark;
}
.color-0,
.color-0::after {
    background-color: var(--color-item-1) !important;
}

.color-1,
.color-1::after {
    background-color: var(--color-item-2) !important;
}

.color-2,
.color-2::after {
    background-color: var(--color-item-3) !important;
}

.color-3,
.color-3::after {
    background-color: var(--color-item-4) !important;
}

.color-4,
.color-4::after {
    background-color: var(--color-item-5) !important;
}
