/*------------------------------------*
  MAIN
*------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    box-sizing: inherit;
}
html {
    font-size: 14px; // 1rem
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-spacing: 0.14rem;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f7fafb;
}
body {
    position: relative;
    min-height: 100vh;
}
// // @media only screen and (min-width: 45rem) {
// //     html {
// //         font-size: 100%;
// //     }
// // }

@media only screen and (min-width: 60rem) {
    html {
        font-size: 16px; //18px
    }
}

@media only screen and (min-width: 77.5rem) {
    html {
        font-size: 18px; //20px
    }
}

// /*custom reset css */
// * {
//     box-sizing: inherit;
// }

// html {
//     font-size: 16px;

//     box-sizing: border-box;
//     font-family: Verdana, Tahoma, sans-serif;
//     scroll-behavior: smooth;
// }
// body {
//     color: #333;
//     background-color: #fff;
// }
// html,
// body {
//     height: 100%;
//     width: 100%;
// }
// /*Text (font, size,color ,weight, line-height) */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6 {
//     font-family: inherit;
//     font-weight: 500;
//     line-height: 1.1;
//     color: inherit;
// }

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

// input,
// button,
// select,
// textarea {
//     font-family: inherit;
//     font-size: inherit;
//     line-height: inherit;
// }

// /*margin text*/
// h1,
// .h1,
// h2,
// .h2,
// h3,
// .h3 {
//     margin: 0;
// }

// p {
//     margin: 0;
// }
