<div class="class-container">
    <div class="class-center-container">
        <div class="class-center-container__class-header" id="class-center-container__class-header"></div>
        <div class="class-center-container__class-dashboard">
            <div class="class-center-container__class-dashboard-tab">
                <div class="class-center-container__class-dashboard-tab-btn">Bài đăng</div>
                <div class="class-center-container__class-dashboard-tab-btn">Bài tập</div>
                <div class="class-center-container__class-dashboard-tab-btn">Mọi người</div>
            </div>
            <div class="class-center-container__class-dashboard-tab-content">
                <!-- Bài đăng -->
                <div class="class-center-container__class-dashboard--post tab-content">
                    <div
                        class="class-center-container__class-dashboard--post-feed"
                        id="class-center-container__class-dashboard--post-feed"
                    ></div>
                </div>

                <!-- Bài tập -->
                <div class="class-center-container__class-dashboard--homework tab-content">
                    <div class="task-container" id="task-container">
                        <div class="task">
                            <div class="task__container">
                                <div class="task__author__avatar">
                                    <img src="/img/person.png" alt="" />
                                </div>
                                <div class="task__text">
                                    <div class="task__text-1st">
                                        <div class="task__author__name">Nguyễn Thanh Duy</div>
                                        <div class="task__content">đã đăng một bài tập mới: {Title}</div>
                                    </div>
                                    <div class="task__text-2nd">
                                        <div class="task__created-date">6 thg 2</div>
                                        -
                                        <div class="task__deadline">hạn nộp 8 thg 2</div>
                                    </div>
                                </div>
                                <div class="task__duration"><div>2d</div></div>
                            </div>
                            <div class="task__action task__action--green">
                                <div>Nộp bài</div>
                            </div>
                            <div class="task__status task__status--red">
                                <div class="task__status__text">Chưa hoàn thành</div>
                                <div class="task__status__icon">
                                    <img src="/img/clock.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="task">
                            <div class="task__container">
                                <div class="task__author__avatar">
                                    <img src="/img/person.png" alt="" />
                                </div>
                                <div class="task__text">
                                    <div class="task__text-1st">
                                        <div class="task__author__name">Nguyễn Thanh Duy</div>
                                        <div class="task__content">đã đăng một bài tập mới: {Title}</div>
                                    </div>
                                    <div class="task__text-2nd">
                                        <div class="task__created-date">6 thg 2</div>
                                        -
                                        <div class="task__deadline">hạn nộp 8 thg 2</div>
                                    </div>
                                </div>
                                <div class="task__duration"><div>2d</div></div>
                            </div>
                            <div class="task__action task__action--green">
                                <div>Nộp bài</div>
                            </div>
                            <div class="task__status task__status--red">
                                <div class="task__status__text">Chưa hoàn thành</div>
                                <div class="task__status__icon">
                                    <img src="/img/clock.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mọi người -->
                <div
                    class="class-center-container__class-dashboard--everyone tab-content"
                    id="class-center-container__class-dashboard--everyone tab-content"
                ></div>
            </div>
        </div>
    </div>
    <div class="class-right-container">
        <div class="exercise-container">
            <div class="exercise__header">
                <h3 class="exercise__header--heading">
                    <span>Bài tập</span><a href="#">xem thêm<img src="../../img/next.png" /></a>
                </h3>
            </div>
            <div class="exercise__content">
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
                <div class="exercise__content--item">
                    <div class="exercise__content--item--name">
                        LẬP TRÌNH WEB VÀ ỨNG DỤNG NÂNG CAO ĐỂ CỐ TÌNH ĐẶT TÊN SIÊU DÀI
                    </div>
                    <div class="exercise__content--item--time">Còn 1 ngày</div>
                    <div class="exercise__content--item--status">
                        <span>Chưa hoàn thành</span>
                        <img src="../img/clock.png" />
                    </div>
                    <div class="exercise__content--item--option">Nộp bài</div>
                </div>
            </div>
        </div>
        <div class="noti-container">
            <div class="noti__header">
                <h3 class="noti__header--heading">
                    <span>Thông báo</span><a href="#">xem thêm<img src="./img/next.png" /></a>
                </h3>
            </div>
            <div class="noti__content">
                <div class="noti__content--item">
                    <div class="noti__content--item--container">
                        <img src="../img/teacher.png" />
                        <span>Thanh Duy vừa đăng một cái gì đó vào trong Lập trình web</span>
                    </div>
                </div>
                <div class="noti__content--item">
                    <div class="noti__content--item--container">
                        <img src="../img/teacher.png" />
                        <span>Thanh Duy vừa đăng một cái gì đó vào trong Lập trình web</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
