$white: #fafafa;
$active-color: #e57905;
$error-color: #f33a58;
// $primary-color: #2a83ff;
//$fourth-color:#f7fafb;

//$lightmode
//https://www.color-hex.com/color-palette/31531
// Màu 1-4 và 2-3 đối nhau
$color: #001e3b;
$primary_color: #0080ff;
$secondary_color: #89c4ff;

$third_color: #004589;
//$fourth_color: #ffffff;
$fourth_color: #d8ebff;

$fourth_color_text: #fff2f2;

// $primary_color: #7286d3;
// $secondary_color: #8ea7e9;

// $third_color: #e5e0ff;
// $fourth_color: #fff2f2;
//$darkMode
$color_dark: #fff;
$primary_dark_color: #404258;
$secondary_dark_color: #474e68;

$third_dark_color: #50577a;
$fourth_dark_color: #6b728e;
// $gray: #b7c4cf;
$gray: #9ca8ba;
